.footer {
  
    background-image: url(../../img/bottom-bg.webp);
    background-size: contain;
    aspect-ratio: var(--footer-index);
    min-width: 100%;
    background-repeat: no-repeat;
    position: relative;
}