.stats {
    background-color: #28cce536;
    backdrop-filter: blur(5px);
}

.stats-wrapper {
  display: flex;
  justify-content: space-around;

  @include mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
  }
}

.stats__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 211px;
  @include s-mobile {
    width:auto;
    justify-content: flex-start;
  }
}

.stats__item-number {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  @include s-tablet {
    font-size: 30px;
  }
  @include mobile {
    font-size: 32px;
  }
  @include s-mobile {
    font-size: 24px;
  }
}

.stats__item-text {
text-align: center;
@include s-mobile {
  font-size: 12px;
}
}
.jelly-fish {
  max-width: 50%;
  transform: translate3d(calc(var(--scroll-top)*0.7), calc(var(--scroll-top)*(-0.1)), 10px);
  position: absolute;
  z-index: -2;
  left: -24%;
}

@keyframes jellyFishAnim {
  0% {
    left: -100%;
    transform: scale(0.2);
  }
 
  100% {
    left: 130%;
    transform: scale(1.5) translateY(-40px);
  }
 }